.tab_unselected {
	width: 100%;
	position:relative;
	height: 42px;
	background: #0397e3; 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0397e3), color-stop(50%,#018cd3), color-stop(51%,#0083c4), color-stop(100%,#0078b4));
	background: -webkit-linear-gradient(top,  #0397e3 0%,#018cd3 50%,#0083c4 51%,#0078b4 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0397e3', endColorstr='#0078b4',GradientType=0 );
	-webkit-box-shadow:0px 2px 2px 0px rgba(0,0,0,0.55) ,inset 0px 1px 1px 0px rgba(255,255,255,0.35);
	box-shadow:0px 2px 2px 0px rgba(0,0,0,0.55) ,inset 0px 1px 1px 0px rgba(255,255,255,0.35);
	
}

.tab_selected {
	width: 100%;
	height: 42px;
	background: #f68820; 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f68820), color-stop(50%,#f3851e), color-stop(51%,#dc7514), color-stop(100%,#cc630b));
	background: -webkit-linear-gradient(top,  #f68820 0%,#f3851e 50%,#dc7514 51%,#cc630b 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f68820', endColorstr='#cc630b',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow:0px 2px 2px 0px rgba(0,0,0,0.55) ,inset 0px 1px 1px 0px rgba(255,255,255,0.35);
	box-shadow:0px 2px 2px 0px rgba(0,0,0,0.55) ,inset 0px 1px 1px 0px rgba(255,255,255,0.35);
	postion: relative;
}
#tab1{
	position: relative;
	top: 1px;
}
#tab2{
	position: relative;
	top: 3px;
}
#tab3{
	position: relative;
	top: 5px;
}
#tab4{
	position: relative;
	top: 7px;
}
#tab5{
	position: relative;
	top: 9px;
}
.tab_unselected label,.tab_selected label {
	color: white;
	font-family: 'Helvetica';
	font-weight: bold;
	font-size: larger;
	position: absolute;
	line-height: 42px;
	vertical-align: middle;
	text-align : center;
	margin-left: 15px;
	text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.45);
}
.tab_selected label{
	text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.45);
}
.tab_content {
	width:100%;
	position: relative;
	top: 10px;
	bottom: 10px;
}

/*======*/
.lb1_selected {
	width: 95%;
	height: 362px;
	background:#e1e1e1; 
	background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5),to(#e1e1e1) );
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1e1e1', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
	margin-left: 2.5%;
	margin-right: 2.5%;
	border-radius: 8px;
	margin-top:15px;
	margin-bottom: 10px;
}



.tabbar {
	width: 100%;
	height: 31px;
	/*margin-left: 10px;
	margin-top: 10px;*/
}

.tb1_selected {
	width: 50%;
	height: 31px;
	color: #333333;
	font-family: 'Helvetica';
	line-height: 31px;
	vertical-align: middle;
	font-weight: normal;
	font-size: medium;
	border: none;
	float: left;
	background: none;
	-webkit-appearance: none;
}

.tb1_unselected {
	width: 50%;
	height: 31px;
	background: #c0c1c4; 
	border-top-left-radius: 10px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(50%,#d2d3d5), color-stop(51%,#c9c9cb), color-stop(100%,#c0c1c4));
	background: -webkit-linear-gradient(top,  #f6f6f6 0%,#d2d3d5 50%,#c9c9cb 51%,#c0c1c4 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#c0c1c4',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow:0px 2px 1px 0px rgba(0,0,0,0.45), inset 0px 1px 1px 0px rgba(255,255,255,0.75);
	box-shadow:0px 2px 1px 0px rgba(0,0,0,0.45), inset 0px 1px 1px 0px rgba(255,255,255,0.75);
	line-height: 31px;
	vertical-align: middle;
	color: #333333;
	font-family: 'Helvetica';
	font-weight: normal;
	font-size: medium;
	float: left;
	/*border: none;*/
}

.tb2_selected {
	width: 50%;
	height: 31px;
	color: #333333;
	font-family: 'Helvetica';
	line-height: 31px;
	vertical-align: middle;
	font-weight: normal;
	font-size: medium;
	border: none;
	float: right;
	background: none;
	-webkit-appearance: none;
	
}

.tb2_unselected {
	
	width: 50%;
	height: 31px;
	background: #c0c1c4; 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(50%,#d2d3d5), color-stop(51%,#c9c9cb), color-stop(100%,#c0c1c4));
	background: -webkit-linear-gradient(top,  #f6f6f6 0%,#d2d3d5 50%,#c9c9cb 51%,#c0c1c4 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#c0c1c4',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow:0px 2px 1px 0px rgba(0,0,0,0.45), inset 0px 1px 1px 0px rgba(255,255,255,0.75);
	box-shadow:0px 2px 1px 0px rgba(0,0,0,0.45), inset 0px 1px 1px 0px rgba(255,255,255,0.75);
	border-top-right-radius: 10px;
	line-height: 31px;
	vertical-align: middle;
	color: #333333;
	font-family: 'Helvetica';
	font-weight: normal;
	font-size: medium;
	float: right;	
	/*border: none;*/
}

.pick_up,.destination {
	width: 100%;
	height: auto;
	margin: 0px auto;
}

.two_way_switch {
	width: 100%;
	height: 31px;
	margin-top: -10px;
}

.three_way_switch {
	width: 100%;
	height: 31px;
	margin-top: -10px;
	
}

.two_way_switch nav,.three_way_switch nav {
	background:#FFB365 ; 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFB365), color-stop(50%,#FF901D), color-stop(51%,#FF8404), color-stop(100%,#FF8404));
	background: -webkit-linear-gradient(top,  #FFB365 0%,#FF901D 50%,#FF8404 51%,#FF8404 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFB365', endColorstr='#FF8404',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow:0px 1px 1px 0px rgba(255,255,255,0.75), inset 0px 2px 1px 0px rgba(0,0,0,0.55);
	box-shadow:0px 1px 1px 0px rgba(255,255,255,0.75), inset 0px 2px 1px 0px rgba(0,0,0,0.55);
	float: right;
	border-radius: 5px;
	margin-right: 15px;
	
}


.three_way_switch ul,.two_way_switch ul{
	list-style: none;
	margin: 0;
	padding: 0;
}


.three_way_switch li:last-child,.two_way_switch li:last-child{
	border-right: none;	
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
}


.three_way_switch li:first-child,.two_way_switch li:first-child {
	border-right: none;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	
}

.three_way_switch li,.two_way_switch li{
	float: left;
	width:75px;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
	text-align: center;
	font-family: 'Helvetica';
	font-size: small;
	font-weight: bold;
	color: #ffffff;
	display: block;

}

.btn_selected {	
	background:#EAA167 ; 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EAA167), color-stop(50%,#E0721A), color-stop(51%,#DD6200), color-stop(100%,#DD6200));
	background: -webkit-linear-gradient(top,  #EAA167 0%,#E0721A 50%,#DD6200 51%,#DD6200 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EAA167', endColorstr='#DD6200',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow:0px 1px 1px 0px rgba(255,255,255,0.75), inset 0px 2px 1px 0px rgba(0,0,0,0.55);
	box-shadow:0px 1px 1px 0px rgba(255,255,255,0.75), inset 0px 2px 1px 0px rgba(0,0,0,0.55);
	text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.45);
}


.btn_unselected {	
 	border-left: 1px solid #C18243;
	text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.45);
}
/*.switch {
	float: right;
}
.sb1_selected {
	width: 71px;
	height: 31px;
	background-image: url("../images/sb1_on.png");
	line-height: 31px;
	vertical-align: middle;
	color: white;
	font-family: 'Helvetica';
	font-weight: normal;
	font-size: small;
	position: absolute;
	border: none;
}

.sb2_unselected {
	width: 71px;
	height: 31px;
	background-image: url("../images/sb2_off.png");
	line-height: 31px;
	vertical-align: middle;
	color: white;
	font-family: 'Helvetica';
	font-weight: normal;
	font-size: 10pt;
	position: absolute;
	margin-left: 68px;
	border: none;
}*/

.address {
	width: 95%;
	height: 154px;
	background:	-webkit-gradient(linear, left top, left bottom, from(#FFFFFF),to(#EEEFFF));
	margin-left: 2.5%;
	margin-top: 10px;
	border-radius: 8px;
	-webkit-box-shadow:1px 2px 1px 0px rgba(255,255,255,0.55) ,inset 0px 1px 1px 0px rgba(0,0,0,0.55);
	box-shadow:1px 2px 1px 0px rgba(255,255,255,0.55) ,inset 0px 1px 1px 0px rgba(0,0,0,0.55);
}

	
.suburb,.street,.str_no{
	
	border-bottom:1px solid #70B3D5;
	height: 25%;
}
.suburb,.street{
	background: url(../images/arrow_blue.png) 95% center no-repeat;
	/*background-repeat: no-repeat;	*/
}
.unit_no {
	height: 25%;
}
.suburb label,.street label {
	width: 90%;
	height: 37px;
	line-height: 37px;
	vertical-align: middle;
	font-size: medium;
	font-weight: normal;
	font-family: 'Helvetica';
	text-align: left;
	margin-left: 10px;
	color: #575757;
	position: absolute;
	overflow: hidden;
	background: transparent;
}

.arrow {
	float: right;
	margin-right: 10px;
	margin-top: 15px;
}

.str_no label,.unit_no label {
	height: 38px;
	width: 35%;
	line-height: 38px;
	vertical-align: middle;
	text-align: left;
	color: #575757;
	font-family: 'Helvetica';
	font-weight: normal;
	font-size: medium;
	float: left;
	margin-left: 10px;
	border-right:thin solid #70B3D5;
}

.str_no input,.unit_no input {
	width: 50%;
	text-align: left;
	color: #333333;
	font-family: 'Helvetica';
	font-weight: bold;
	font-size: medium;
	position: absolute;
	margin-top: 8px;
}

.tag_div {
	width: 95%;
	height: 79px;
	background:	-webkit-gradient(linear, left top, left bottom, from(#FFFFFF),to(#EEEFFF));
	margin-left: 2.5%;
	margin-top: 10px;
	border-radius: 8px;
	-webkit-box-shadow:1px 2px 1px 0px rgba(255,255,255,0.55) ,inset 0px 1px 1px 0px rgba(0,0,0,0.55);
	box-shadow:1px 2px 1px 0px rgba(255,255,255,0.55) ,inset 0px 1px 1px 0px rgba(0,0,0,0.55);
	text-align:left;
}

.favourite {
	width: 100%;
	height: 40px;
}

.favourite{
	border-bottom:thin solid #70B3D5;
	
}

.favourite label{
	color: #575757;
	font-family: 'Helvetica';
	font-weight: normal;
	font-size: medium;
	text-align: left;
	float: left;
	margin-left: 10px;
	line-height: 40px;
	vertical-align: middle;	
}

.favourite input {
	float: right;
	text-align:right;
	line-height: 40px;
	vertical-align: middle;
	height: 20px;
	width: 20px;
	margin-top: 12px;
	
}

.div_fav_name{
	width: 100%;
	height: 40px;
}

.div_fav_name label {
	font-size: medium;
	font-weight: normal;
	font-family: 'Helvetica';
	text-align: left;
	float: left;
	margin-left: 10px;
	text-indent: 0px;
	color: #575757;
	border-right:thin solid #70B3D5;
	height: 40px;
	width: 25%;
	line-height:40px;
	vertical-align: middle;
}

.div_fav_name input {
	width: 60%;
	text-align: left;
	color: #333333;
	font-family: 'Helvetica';
	font-weight: normal;
	font-size: medium;
	position: absolute;
	margin-top: 8px;
	border: none;
	background: none;
	-webkit-appearance: none;
}

.datetime {
	width: 95%;
	height: 43px;
	background:	-webkit-gradient(linear, left top, left bottom, from(#FFFFFF),to(#EEEFFF));
	border-radius: 8px;
	-webkit-box-shadow:1px 2px 1px 0px rgba(255,255,255,0.35) ,inset 0px 1px 1px 0px rgba(0,0,0,0.55);
	box-shadow:1px 2px 1px 0px rgba(255,255,255,0.35) ,inset 0px 1px 1px 0px rgba(0,0,0,0.55);
	margin-top: 15px;
	margin-left: 2.5%;
	vertical-align: middle;
}

.datetime label {
	font-size: small;
	font-weight: normal;
	font-family: 'Helvetica';
	text-align: left;
	float: left;
	margin-left: 8px;
	text-indent: 0px;
	color: #575757;
	border-right:thin solid #70B3D5;
	height: 43px;
	width: 27%;
	line-height:43px;
	vertical-align: middle;
}

#txt_datetime {
	width: 62%;
	text-align: left;
	color: #333333;
	font-family: 'Helvetica';
	font-weight: bold;
	font-size: medium;
	position: absolute;
	line-height:43px;
	border: none;
	background: none;
	-webkit-appearance: none;
}
#content4{
	position: relative;
	top:8px;
	bottom:5px;
}
#content5 {
	position: relative;
	top:11px;
	bottom:5px;
}
.radio_div {
	width: 95%;
	height: 40px;
	line-height: 30px;
	background: #FFFFFF;
	position: relative;
	border: none;
	margin-left: 2.5%;
	margin-top: 1px;
}

.radio_div label {
	color: #333333;
	font-family: 'Helvetica';
	font-weight: normal;
	font-size: small;
	position: absolute;
	vertical-align: middle;
	float: left;
	text-align: left;
	word-wrap: break-word;
	margin-left: 10px;
	margin-top: 6px;
	width:80%;
	height: 40px;
}

.check_condition,.check_notes {
	width: 25px;
	height: 25px;
	float: right;	
	margin-right: 10px;
	margin-top: 7px;
	-khtml-appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	
}

.check_condition:checked,.check_notes:checked {
	
	background: url(../images/cb_checked.png);
}

/* .switch { */
/* 	width: 95%; */
/* 	height: 41px; */
/* 	margin-left: 2.5%; */
/* } */

/* .switch label { */
/* 	color: white; */
/* 	font-family: 'Helvetica'; */
/* 	font-weight: normal; */
/* 	font-size: large; */
/* 	text-align: left; */
/* 	float: left; */
/* 	postiion: absolute; */
/* 	margin-top:25px; */
	
/* } */

/* .switch input { */
/* 	float: right; */
/* 	text-align:right; */
/* 	line-height: 40px; */
/* 	vertical-align: middle; */
/* 	height: 20px; */
/* 	width: 20px; */
/* 	margin-top: 30px; */
	
/* } */

.eta_switch {
	width:95%;
	margin-left: 2.5%;
	margin-right: 2.5%;
}

.eta_switch label{
	color: #FFFFFF;
	font-family: 'Helvetica';
	font-weight: normal;
	font-size: medium;
	text-align: left;
	float: left;
	margin-left: 10px;
	line-height: 40px;
	vertical-align: middle;	
}

.eta_switch input {
	float: right;
	text-align:right;
	line-height: 40px;
	vertical-align: middle;
	height: 20px;
	width: 20px;
	margin-top: 12px;
	
}
/*.switch th {
	color: white;
	font-family: 'Helvetica';
	font-weight: normal;
	font-size: 14pt;
	text-align: left;
	float: left;
	postiion: absolute;
	margin-left: -10px;
	margin-top: 5px;
}

.switch td {
	float: right;
	margin-left: 170px;
	postiion: absolute;
	margin-top: -23px;
}
*/
.eta_content_show {
	width: 80%;
	height: 150px;
	color: white;
	font-family: 'Helvetica';
	font-weight: normal;
	font-size: medium;
	margin-left: 10%;
	margin-top: 55px;
	text-wrap: normal;
	text-align: justify;
	word-wrap: normal;
	clear: both;
	
}

#txt_mobile {
	width: 70%;
	height: 25px;
	color: #333333;
	background:	-webkit-gradient(linear, left top, left bottom, from(#FFFFFF),to(#EEEFFF));
	border-radius: 8px;
	-webkit-box-shadow:0px 1px 1px 0px rgba(255,255,255,0.35) ,inset 0px 1px 1px 0px rgba(0,0,0,0.55);
	box-shadow:0px 1px 1px 0px rgba(255,255,255,0.35) ,inset 0px 1px 1px 0px rgba(0,0,0,0.55);
	font-family: 'Helvetica';
	font-weight: normal;
	font-size: medium;
	text-intent: 10px;
}
/* YES or NO checkbox style */

.agree
{
	 -khtml-appearance: none;
	 -moz-appearance: none;
	 -webkit-appearance: none;
	 background: url(../images/checkbox.png) no-repeat center center;
	 -webkit-background-size: 100% 100%;
	 width: 20px;
	 height: 20px;
	
}

.agree:checked

{
 background:url(../images/checked_box.png) no-repeat center center;
 -webkit-background-size: 100% 100%;
}
#check_agree {
	width: 20px;
	height: 20px;
	position: relative;
	top: 7px;
}
.agree_label{
	position: relative;
	
}

#selection_top {
	width: 100%;
	height: 34px;
}

.favouritelist {
	width: 100%;
	height: 80px;
	position: relative;
	/*margin-left: -8px;*/
	border-bottom: thin solid;
	border-bottom-color: #FFFFFF;
}

.label1 {
	width: 80%;
	color: white;
	font-family: 'Helvetica';
	font-weight: bold;
	font-size: small;
	position: absolute;
	vertical-align: middle;
	float: left;
	text-align: left;
	margin-left: 10px;
	margin-top: 7px;
}

.label2 {
	color: white;
	font-family: 'Helvetica';
	font-weight: bold;
	font-size: small;
	position: relative;
	text-align: right;
	float: right;
	margin-right: 20px;
	margin-top: 7px;
}

.label3 {
	width: 80%;
	color: white;
	font-family: 'Helvetica';
	font-weight: normal;
	font-size:small;
	position: absolute;
	text-align: left;
	margin-left: 10px;
	margin-top: 30px;
	word-wrap: break-word;
}

.label4 {
	width: 80%;
	color: white;
	font-family: 'Helvetica';
	font-weight: normal;
	font-size: small;
	position: absolute;
	text-align: left;
	margin-left: 10px;
	margin-top: 50px;
	word-wrap: break-word;
}

/* iPhone style checkbox style */

.iphone_swipe {
    padding: 5px 0;
    text-align: left;
    float: right;
    position: absolute;
    right: 6%;
}

.iPhoneCheckContainer {
	width:  250px;
	position: relative;
	height: 27px;
	cursor: pointer;
	overflow: hidden;
}

.iPhoneCheckContainer input {
	position: absolute;
	top: 5px;
	left: 30px;
	filter: progid : DXImageTransform.Microsoft.Alpha ( Opacity = 0 );
	opacity: 0;
}

.iPhoneCheckContainer label {
	white-space: nowrap;
	font-size: 17px;
	line-height: 17px;
	font-weight: bold;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	cursor: pointer;
	display: block;
	height: 27px;
	position: absolute;
	width: auto;
	top: 0;
	padding-top: 5px;
	overflow: hidden;
}

.iPhoneCheckContainer,.iPhoneCheckContainer label {
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
}

.iPhoneCheckDisabled {
	filter: progid : DXImageTransform.Microsoft.Alpha ( Opacity = 50 );
	opacity: 0.5;
}

label.iPhoneCheckLabelOn {
	color: white;
	background: url('../images/on.png') no-repeat;
	text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
	left: 0px;
	padding-top: 5px;
}

label.iPhoneCheckLabelOn span {
	padding-left: 8px;
}

label.iPhoneCheckLabelOff {
	color: #8b8b8b;
	background: url('../images/off.png') no-repeat right 0;
	text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.6);
	text-align: right;
	right: 0px;
}

label.iPhoneCheckLabelOff span {
	padding-right: 8px;
}

.iPhoneCheckHandle{
	display: block;
	height: 27px;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	background: url('../images/slider_left.png') no-repeat;
	padding-left: 3px;
}

.iPhoneCheckHandleRight {
	height: 100%;
	width: 100%;
	padding-right: 3px;
	background: url('../images/slider_right.png') no-repeat right 0;
}

.iPhoneCheckHandleCenter {
	height: 100%;
	width: 100%;
	background: url('../images/slider_center.png');
}

